PyQt5>=5.9
sympy
entrywidget @ git+https://github.com/timjolson/entrywidget.git
delegated @ git+https://github.com/timjolson/delegated.git
qt_utils @ git+https://github.com/timjolson/qt_utils.git
pytest
pytest-qt